# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Exclude subdirectories (things like database, saved images during testing)
/**
# Exclude build command shortcut(s)
*.cmd
# Exclude own settings
settings.json